@{
    ViewData["Title"] = "Creditos";
}

<body class="agregar">
    <div class="agregar-tamaño">
        <center>
        <form action="GuardarCandidato" method="post" class="form">
                    <select class="select-box" name="idPartido">
                        @foreach (Partido partido in @ViewBag.ListarPartidos ){
                                <option value="@partido.IdPartido">@partido.Nombre</option>

                        }
                    </select>
                    <input type="text" required class="form-control" name="Apellido" placeholder="Apellido">
                    <input type="text" required class="form-control" name="Nombre" placeholder="Nombre">
                    <input type="date" required class="form-control" name="FechaNacimiento" placeholder="Fecha de Nacimiento">
                    <input type="text" required class="form-control" name="Foto" placeholder="Foto">
                    <input type="text" required class="form-control" name="Postulacion" placeholder="Postulacion">
                    
                         <div class="botones">
                            <button type="submit" class="boton">Enviar</button>
                        </div>
                        
                    
                    </div>
                    
                    
                </form>
        </center> 
    </div>
</body>