@{
    ViewData["Title"] = "Creditos";
}

<body>

    <div class="text-center">
        <h1 class="display-4">Créditos</h1>
    </div>
    <div class="text-center">
        <p>Hecho por Emilia Armeno, Milena Dawidowicz y Mateo Sverdloff
        </p>
        <img src="/imagenes/homero_creditos.png">
        <img src="/imagenes/homero_creditos.png">
        <img src="/imagenes/homero_creditos.png">
    </div>
    
</body>