@{
    ViewData["Title"] = "Creditos";
}

<body class="creditos">
    <div class="creditos-tamaño">
        <div class="text-center">
                <h1 class="display-4">Créditos</h1>
            </div>
            <div class="text-center">
                <p>Hecho por Emilia Armeno, Milena Dawidowicz y Mateo Sverdloff
                </p>
            </div>
    </div>
</body>