@{
    ViewData["Title"] = "Elecciones 2023";
}


<body>
<h1 class="titulo"><center>Partidos </h1>
   <img src="@ViewBag.ListarPartidos[i+3].Logo" class="card-img-top" alt="...">
        </div>
    </div>
    <div class="carta">
    <div class="cards-partidos_container">
        <div class="card-grid">
            @{
                for (int i=0; i < 3; i++){
                <div class="col">
                <div class="card h-100">
                    <img src="@ViewBag.ListarPartidos[i+3].Logo" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"> @ViewBag.ListarPartidos[i+3].Nombre </p>
                </div>
            <div class="card-footer">
                <div class="submit">
                    <a href="VerDetallePartido.cshtml">MÁS INFORMACIÓN</a>
            </div>
        </div>
        </div>
    </div>
                }
            }
        </div>
    </div>
</body>
