

body {
  margin-bottom: 60px;
}


header{
  background-color: #9ac6df;


}


.card-grid{
  width: 1300px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}


.col{
  padding: 30px;
}


.col img{
  padding: 50px;
  width: 470px;
  height: 220px;
}


.col p{
  text-align: center;
  font-size: 25px;


}


.submit a{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
 
}


.navbar-brand{
  padding: 30px;
}


.titulo{
  margin-top: 60px;
}
